<div id="LayoutDiv5">
<table border="0">
<tr><td>
<div class="grow pic">

	
<% if not @other %><a href="/ajaxuser"  id="show" class="button left"><% end %>
<%= image_tag @user.avatar.url(:large), :alt =>"portrait" %>

<% if not @other %>
</a>
<% end %>

</div>
</td><td>
<br /><br />
<% if !@user.nom.nil? %>
<b>Nom</b> : <%= @user.nom %><br /><br />
<% end %>
<% if !@user.prenom.nil? %>
<b>Prenom</b> : <%= @user.prenom %><br /><br />
<% end %>
<% if !@user.prenom.nil? %>
<%= image_tag("username.png", :width => "18px", :class => "centreImg3") %> <b>Nom d'utilisateur</b> : <%= @user.username %><br /><br />
<% end %>
<%= image_tag("email.png", :width => "18px", :class => "centreImg3") %> <b>Mail</b> : 	<%= @user.email %><br /><br />
<% if @user.isAdmin %>
<%= image_tag("admin.png", :width => "18px", :class => "centreImg3") %> Cet utilisteur est un administateur du site.<br /><br />
<% end %>
<% if @user.rasb_sec and @user.rasb_sec[0] %>
<%= image_tag("pi.png", :width => "18px", :class => "centreImg3") %> Cet utilisteur possède un rasbperry. (<%= @user.rasb_sec[0].mesure.count %> donnée(s) ajoutées)
<% end %>

</td></tr></table>
<br /><big><big>
<span id="txt"></span></big></big>
	
<% if not @other %>
<hr />
<a href="/ajaxparams" class="button linkC" id="showParams"><%= image_tag("param.png", :width => "40px", :id => "showParamsImg") %>

Modifier votre profile</a>
<br />
<%= image_tag("prof.png", :width => "35px") %> Vous pouvez cliquer sur votre pour le changer (c'est l'image si dessus).
<% if not @other && @user.isAdmin %>
<hr />

<h2>Administration</h2>

<a href="/rasb_secs/sign_up" class="linkC" >
Ajouter un raspberry pi</a><br /><br />

<a href="/rasb_pi/all" class="linkC" >
Liste des raspberry pi</a>
<% end %>

<script>
$('#showParams').hover(function() {
  $('#showParamsImg').attr('src', '<%= image_url("param2.png") %>');
}, function() {
  $('#showParamsImg').attr('src', '<%= image_url("param.png") %>');
});

$('.button').modaal({
    type: 'ajax',
    loading_content: 'Loading content, please wait.'
});
$( "div.grow" )
  .mouseover(function() {
    
    $("#txt").text( "Cliquez sur votre avatar pour le changer" );
  })
  .mouseout(function() {
    $( "#txt").text( "" );
  });
 

	
	</script>


<% end %>


</div></div>